name: .NET Core CI


on:
  push: 
    branches: [ "master" ]
  pull_request: 
    branches: [ "master" ]

jobs:
  build-and-test:
    
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest] 

    steps:
    
    - name: Checkout code
      uses: actions/checkout@v4

    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x' 

    
    - name: Restore dependencies
      run: dotnet restore RemoteDriveClient.sln

    
    - name: Build
      run: dotnet build RemoteDriveClient.sln --no-restore

    
    - name: Test
      run: dotnet test RemoteDriveClient.sln --no-build --verbosity normal
